<article class="mb-5">
  <h2 class="h4"><a class="post-title" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
  <div class="mb-3 post-meta">
    <a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize | lower }}">{{ .Params.Author | title }}</a>,
    {{ .PublishDate.Format "January 2, 2006" }}, {{ range .Params.Categories }}
    <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}">{{ . | title | humanize }}</a>
    {{ end }}
  </div>
  <p>{{.Summary}}</p>
  <a href="{{ .Permalink }}" class="btn btn-sm btn-transparent pl-0">read more</a>
</article>