{{ define "main" }}

<!-- banner -->
<section class="banner bg-cover" style="background-image: url('{{ .Site.Params.banner.bgImage | relURL }}');">
    <img src="{{ .Site.Params.banner.image | relURL }}" class="img-fluid illustration" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h2>We are pioneers in building <span style="background-color: #FD3173; color: white">valuable and practical products</span> to embrace blockchain adoption<span style="background-color: #FD3173; color: white"></span></h2>
            </div>
            <div class="col-lg-6 illustration-mobile">
                <img src="{{ .Site.Params.banner.image | relURL }}" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!-- /banner -->

<!-- apps -->
{{- partial "applist.html" . -}}



<!-- cta -->
{{ if .Site.Params.cta.enable }}
<section class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="row shadow bg-white p-5">
                    <div class="col-md-4 text-center text-md-left mb-4 mb-lg-0">
                        <img src="{{ .Site.Params.cta.image | relURL }}" style="width: 200px;" class="mr-4" alt="..."></div>
                    <div class="col-md-8 text-center text-md-left">
                        <h3 class="mt-0">{{ .Site.Params.cta.title | markdownify }}</h3>
                        <p>{{ .Site.Params.cta.description | markdownify }}</p>
                        {{ if .Site.Params.cta.button.enable }}
                        <a href="{{ .Site.Params.cta.button.link | absURL }}" class="btn btn-primary">{{ .Site.Params.cta.button.label }}</a> {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
<!-- /cta -->

{{ end }}